/*! RUBIK FONTS */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/*! ROBOTO Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.image {
  background-image: url(./assets/images/hero-bg.webp);
  background-size: cover;
  background-position: center;
}

.award {
  background-image: url(./assets/images/award-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.work_bg {
  background-image: url(./assets/images/work-bg.webp);
  background-repeat: no-repeat;
}

.blog {
  background-image: url(./assets/images/blog-bg.webp);
  background-size: cover;
  object-fit: cover;
}

/* .contact_bg {
  background-image: url(./assets/images/contact_bg.webp);
  width: 500px;
  height: 800px;
  background-size: cover;
} */

.gradient-background {
  background-image: linear-gradient(
    to bottom,
    rgba(151, 31, 125, 0.8),
    /* rgba(151, 31, 125, 0.7), */ rgba(97, 17, 226, 0.8)
  );
}

.video {
  background: linear-gradient(
    to right,
    rgba(97, 17, 226, 0.3),
    rgba(97, 17, 226, 0.15)
  );
  background-size: 50%;
  background-repeat: no-repeat;
}

/* .AwardGradient {
  background: linear-gradient(
    to right,
    rgba(178, 101, 221, 0.5),
    rgba(171, 90, 231, 0.2)
  );
  backdrop-filter: blur(10px);
} */

li a {
  position: relative;
  color: inherit;
}

li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  margin-bottom: -3px;
  height: 3px;
  background-color: #6111e2;
  transition: width 0.3s ease;
}

li a:hover::after {
  width: 100%;
}

li a:hover {
  font-weight: bold;
  color: #6111e2;
}
